body {
    background-color: lightgray;
}

h1,
h2 {
    text-align: center;
}

h2 {
    color: forestgreen;
    opacity: 0.7;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid lightsalmon;
    width: 600px;
}

th,
td {
    text-align: center;
}

th {
    background-color: bisque;
}

td {
    border: 1px solid white;
}
#tag {
    background-color: aliceblue;
}
